<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a target="_blank" href="https://www.freecodecamp.org/" class="nav-link px-2 text-body-secondary">Home</a></li>
      <li class="nav-item"><a target="_blank" href="https://www.linkedin.com/school/free-code-camp/people/" class="nav-link px-2 text-body-secondary">Alumni Network</a></li>
      <li class="nav-item"><a target="_blank" href="https://www.freecodecamp.org/news/about/" class="nav-link px-2 text-body-secondary">About</a></li>
      <li class="nav-item"><a target="_blank" href="https://www.freecodecamp.org/news/code-of-conduct/" class="nav-link px-2 text-body-secondary">Code of Conduct</a></li>
      <li class="nav-item"><a target="_blank" href="https://www.freecodecamp.org/news/terms-of-service/" class="nav-link px-2 text-body-secondary">Terms of Service.</a></li>
    </ul>
    <p class="text-center text-body-secondary">&copy; 2024 Lenny, Inc</p>
  </footer>
</div>